/*.button.wc-forward,
#site-header-cart{
	display: none !important;
}*/
a.showcoupon {
    color: #0800c2;
}

.woocommerce-breadcrumb {
    margin-bottom: 0px !important;
}

.address-field, 
#billing_company_field {
	display: none !important;
}

.single-product div.product .woocommerce-product-gallery,
.single-product div.product .images, .single-product div.product .summary, .single-product div.product .woocommerce-product-gallery {
    margin-bottom: 0px !important;
}

.single-product div.product .woocommerce-product-gallery {
    width: 100% !important;
}

#primary{
    width: 100% !important;
}
#secondary{
	display: none;
}

#main {
    width: 100%;
    display: block;
}

#main .container_form {
    margin: 0px auto;
    max-width: 600px;
}

.single-product div.product .summary {
    width: 100% !important;
    float: none !important;
}

h1.product_title.entry-title {
    text-align: center;
}
.price span.woocommerce-Price-amount.amount {
    text-align: center;
    display: block;
}

.fechas{
	overflow: hidden;
}

.fechas > div {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}

.fechas > div > input {
	width: 100%;
    border: solid 1px #b8b8b8;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    padding: 9px;
    background: #FFF;		
}
.single-product div.product form.cart {
    padding: 0px;
}

.single-product div.product p.price {
    margin: 0px;
}

.cantidad_container {
	border: solid 1px #CCC;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
	margin: 0px 10px 10px;
	overflow: hidden;
}

.cantidad_container > div {
	float: left;
	padding: 15px;
    font-size: 20px;
}

.cantidad_max {
    float: right !important;
}

.cantidad_container span {
	display: inline-block;
	padding: 0px 10px;
}

.cantidad_box{
}

.cantidad_box i {
    cursor: pointer;
    color: #33e1be;
}

.wc-bookings-booking-form .form-field {
    margin: 0px;
}

button.wc-bookings-booking-form-button.single_add_to_cart_button {
    width: calc( 100% - 22px );
    display: block;
    margin: 0px auto;
    border-radius: 3px;
    padding: 10px !important;
    font-size: 20px;
}

.cart_container {
    width: 100%;
    display: block;
    margin: 0px auto;
    max-width: 600px;
}

.cart_container .item_cart {
	overflow: hidden;
	border-bottom: solid 1px #CCC;
	padding: 5px;
	margin-bottom: 15px;
}

.cart_container .item_cart > div {
	overflow: hidden;
}

.cart_container .item_cart .product_name {
	font-weight: 600;
    text-transform: uppercase;
}

.cart_container .item_cart .product_precio,
.cart_container .item_cart .product_fecha {
	padding-left: 10px; 
}

.cart_container .item_cart .product_fecha > label {
	font-weight: 600;
	text-transform: uppercase;
}

.cart_container .item_cart > div > span {
	float: right;
}

table.vlz_totales td, table.vlz_totales th {
    padding: 2px 10px;
}

table.vlz_totales tbody tr td{
    text-align: right;
}

#vlz_form_cupon {
	overflow: hidden;
	margin-bottom: 10px;
}

#vlz_form_cupon .form_cupon_input,
#vlz_form_cupon .form_cupon_boton {
	border: solid 1px #CCC;
	padding: 10px;
	box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0,0,0,.125);
    font-size: 14px;
}

#vlz_form_cupon .form_cupon_input {
	float: left;
	width: 80%;
	border-right: 0px;
}

#vlz_form_cupon .form_cupon_boton {
	float: right;
	width: 20%;
	border-left: 0px;
}
